{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "AutoShares Trading API",
    "description": "AutoShares Trading API — trade equities, options, and ETFs. Manage orders, positions, watchlists, price alerts, and streaming market data."
  },
  "host": "api.autoshares.dev",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v{version}/accounts/{accountId}/ach-relationships/{id}": {
      "get": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Get a specific ACH relationship",
        "description": "This endpoint enables you to retrieve information about a specific ACH relationship of some trading account.",
        "operationId": "AchRelationships_GetAchRelationship",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationship must be retrieved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relationship whose information must be retrieved.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON object containing information about the ACH relationship is returned.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Update an ACH relationship",
        "description": "This endpoint enables you to update an existing ACH relationship of a specific trading account.",
        "operationId": "AchRelationships_ModifyAchRelationship",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationship must be updated.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relatioship that must be updated.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON object containing the new name of the linked bank.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAchRelationshipResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, updated ACH relationship is returned.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to update the ACH relationship."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Remove an ACH relationship",
        "description": "This endpoint enables you to unlink a banking account from a specific trading account.",
        "operationId": "AchRelationships_CloseBankAchRelationship",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationship must be removed.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relationship that must be removed.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "Reason for removing the ACH relationship.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the ACH relationship has been removed.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to remove the ACH relationship."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/default": {
      "get": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Get the default (selected) ACH relationship",
        "description": "This endpoint enables you to get the default (selected) ACH relationship bound to an existing trading account.",
        "operationId": "AchRelationships_GetDefaultAchRelationship",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose default ACH relationship is to be retrieved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the default ACH relationship is returned.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships": {
      "get": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Get an account's ACH relationships",
        "description": "This endpoint enables you to retrieve a list of all ACH relationships bound to a specific trading account.",
        "operationId": "AchRelationships_GetAchRelationshipsPage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationships must be listed.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (all ACH relationships are split in pages).",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Parameter by which the returned ACH relationships must be sorted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Determines if returned ACH relationships must be sorted in descending or ascending order.",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters ACH relationships by status.",
            "required": false,
            "type": "string",
            "enum": [
              "Pending",
              "Approved",
              "Canceled",
              "Error",
              "PendingCancel",
              "PendingApproval"
            ]
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a collection of ACH relationships is returned.",
            "schema": {
              "$ref": "#/definitions/PagingResult[AchRelationshipResource]"
            }
          },
          "400": {
            "description": "Filter query is invalid or contains unsupported operations."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Create a new ACH relationship",
        "description": "This endpoint enables you to create a new ACH relationship.",
        "operationId": "AchRelationships_ModifyAchRelationship",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account to which the new ACH relationship will be bound.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON object containing all parameters required for a new ACH relationship.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAchRelationshipResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a new ACH relationship has been created.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to create a new ACH relationship."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/plaid": {
      "post": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Create ACH relationships from a PLAID link",
        "description": "This endpoint enables you to create multiple accounts from a single PLAID link.",
        "operationId": "AchRelationships_CreateAchRelationshipsWithPlaid",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account to which the new ACH relationships will be bound.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON object containing PLAID data to identify the bank and accounts.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAchRelationshipsPlaidResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, ACH relationships have been created.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AchRelationshipResource"
              }
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to create ACH relationships."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/{id}/approve": {
      "post": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Approve an ACH relationship",
        "description": "This endpoint enables you to approve a new ACH relationship.",
        "operationId": "AchRelationships_ApproveBankAchRelationship",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationship is to be approved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relationship that is to be approved.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON object containing two charges from the banking statement.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApproveAchRelationshipResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the ACH relationship has been approved.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to approve the ACH relationship."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/{id}/default": {
      "post": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Set the default (selected) ACH relationship",
        "description": "This endpoint enables you to s et the default (selected) ACH relationship for an existing trading account.",
        "operationId": "AchRelationships_SetDefaultAchRelationship",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose default ACH relationship must be set.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relationship that will from now on be the default one.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the default ACH relationship has been set."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to set the default ACH relationship for the specified trading account."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/users/{userId}/agreements": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Get list of unsigned agreements",
        "description": "Returns list of unsigned agreements for specific user.",
        "operationId": "Agreements_GetUnsignedAgreements",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Internal ID of user.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of usigned agreements",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AgreementItemResource"
              }
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/users/{userId}/agreements/{agreementId}/sign": {
      "post": {
        "tags": [
          "Agreements"
        ],
        "summary": "Signs the platform agreement",
        "description": "Signs the platform agreement.",
        "operationId": "Agreements_SignPlatformAgreement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Internal ID of user.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "agreementId",
            "in": "path",
            "description": "Internal ID of platform agreement.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Platform agreements succesfully signed"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/history/compare": {
      "put": {
        "tags": [
          "HistoricalTradeData"
        ],
        "summary": "Get Comparison Data",
        "description": "This endpoint enables you to retrieve and compare historical chart data for a set of securities. This data includes price ranges, candles, and various other non-market data.",
        "operationId": "HistoricalTradeData_GetChartCompareData",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "This is a JSON dictionary that contains information about the specified securities.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChartCompareRequestModel"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a JSON dictionary is returned, containing chart data for the list of specified securities.",
            "schema": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/TimeSeriesValueCandleMapModel"
                }
              }
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Comparison data cannot be provided."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/history/symbols": {
      "put": {
        "tags": [
          "HistoricalTradeData"
        ],
        "summary": "Get Candles and Indicators",
        "description": "This endpoint enables you to retrieve candles and indicators for a particular security.",
        "operationId": "HistoricalTradeData_GetChartBasicData",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "This is a JSON dictionary that contains information about the enquired security.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChartHistoryRequestModel"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a JSON dictionary is returned, containing candles and indicators for the specified security.",
            "schema": {
              "$ref": "#/definitions/ChartHistoryModel"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Chart data cannot be provided."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/history/export": {
      "post": {
        "tags": [
          "HistoricalTradeData"
        ],
        "summary": "Get Chart Data in XLSX",
        "description": "This endpoint enables you to retrieve chart data in the Microsoft Excel (.xlsx) format.",
        "operationId": "HistoricalTradeData_ExportToExcel",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "settings",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HistoricalTradeDataExportDataModel"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, an Excel file is returned, containing chart data for the specified securities.",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/ipo/industries": {
      "get": {
        "tags": [
          "Ipo"
        ],
        "summary": "Get industries",
        "description": "This endpoint enables you to retrieve a list of industries",
        "operationId": "Ipo_GetIndustries",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a list of industries",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to get industries."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/ipo/security-info": {
      "get": {
        "tags": [
          "Ipo"
        ],
        "summary": "Get securities info",
        "description": "This endpoint enables you to retrieve a list of securities",
        "operationId": "Ipo_GetSecurityInfo_SwaggerAnonymous",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a list of securities",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to get securities."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/ipo/accounts/{accountId}/offerings/active": {
      "get": {
        "tags": [
          "Ipo"
        ],
        "summary": "Get active offerings",
        "description": "This endpoint enables you to retrieve active offering by the account",
        "operationId": "Ipo_GetAccountOfferings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the trading account",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sorting field",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, list of account active offerings",
            "schema": {
              "$ref": "#/definitions/PageResult[AccountOffering]"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to get account active offerings."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/ipo/accounts/{accountId}/offerings/{offeringReference}/subscribe": {
      "post": {
        "tags": [
          "Ipo"
        ],
        "summary": "Subscribe the offering",
        "description": "This endpoint enables you to subscribe the offering",
        "operationId": "Ipo_SubscribeOffering",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the trading account",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offeringReference",
            "in": "path",
            "description": "Unique identifier of the offering",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The offering was followed."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to follow the offering."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/ipo/accounts/{accountId}/offerings/{offeringReference}/unsubscribe": {
      "post": {
        "tags": [
          "Ipo"
        ],
        "summary": "Unsubscribe the offering",
        "description": "This endpoint enables you to unsubscribe the offering",
        "operationId": "Ipo_UnsubscribeOffering",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the trading account",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offeringReference",
            "in": "path",
            "description": "Unique identifier of the offering",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The offering was unfollowed"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to unfollow the offering."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/orders/mutual-funds/buy": {
      "post": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Buy a mutual fund",
        "description": "This endpoint enables you to place an order to purhcase a mutual fund.",
        "operationId": "MutualFunds_PlaceBuyMutualFund",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is placed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "JSON data containing the mutual fund's information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuyMutualFundResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the buy order was successfully placed.",
            "schema": {
              "$ref": "#/definitions/MutualFundResource"
            }
          },
          "400": {
            "description": "The provided JSON is invalid."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "An error on the OMS side occurred in attempt to place the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/orders/mutual-funds/sell": {
      "post": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Sell a mutual fund",
        "description": "This endpoint enables you to place an order to sell a mutual fund.",
        "operationId": "MutualFunds_PlaceSellMutualFund",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is placed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "JSON data containing the mutual fund's information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SellMutualFundResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the sell order was successfully placed.",
            "schema": {
              "$ref": "#/definitions/MutualFundResource"
            }
          },
          "400": {
            "description": "The provided JSON is invalid."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "An error on the OMS side occurred in attempt to place the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/orders/mutual-funds/exchange": {
      "post": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Exchange a mutual fund",
        "description": "This endpoint enables you to exchange a mutual fund.",
        "operationId": "MutualFunds_PlaceExchangeMutualFund",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is placed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "JSON data containing the exchanged mutual fund's information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExchangeMutualFundResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the order was successfully placed.",
            "schema": {
              "$ref": "#/definitions/MutualFundResource"
            }
          },
          "400": {
            "description": "The provided JSON is invalid."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "An error on the OMS side occurred in attempt to place the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/orders/mutual-funds/liquidate": {
      "post": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Liquidate a mutual fund",
        "description": "This endpoint enables you to place an order to liquidate your shares of a mutual fund.",
        "operationId": "MutualFunds_PlaceLiquidationOfMutualFund",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is placed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "JSON data containing the mutual fund's information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LiquidateMutualFundResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the liquidation order was successfully placed.",
            "schema": {
              "$ref": "#/definitions/MutualFundResource"
            }
          },
          "400": {
            "description": "The provided JSON is invalid."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "An error on the OMS side occurred in attempt to place the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/preview/orders/mutual-funds/buy": {
      "post": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Verify buying a mutual fund",
        "description": "This endpoint enables you to verify the contents of an order for purchasing a mutual fund.",
        "operationId": "MutualFunds_PreviewBuyMutualFund",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is to be placed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "JSON data containing the mutual fund's information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuyMutualFundResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing order verification details is returned.",
            "schema": {
              "$ref": "#/definitions/MutualFundPreviewResource"
            }
          },
          "400": {
            "description": "The provided JSON is invalid."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "An error on the OMS side occurred in attempt to verify the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/preview/orders/mutual-funds/sell": {
      "post": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Verify selling a mutual fund",
        "description": "This endpoint enables you to verify the contents of an order for selling a mutual fund.",
        "operationId": "MutualFunds_PreviewSellMutualFund",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is to be placed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "JSON data containing the mutual fund's information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SellMutualFundResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing order verification details is returned.",
            "schema": {
              "$ref": "#/definitions/MutualFundPreviewResource"
            }
          },
          "400": {
            "description": "The provided JSON is invalid."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "An error on the OMS side occurred in attempt to verify the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/preview/orders/mutual-funds/exchange": {
      "post": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Verify exchanging a mutual fund",
        "description": "This endpoint enables you to verify the contents of an order for exchanging a mutual fund.",
        "operationId": "MutualFunds_PreviewExchangeMutualFund",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is to be placed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "JSON data containing the mutual fund's information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExchangeMutualFundResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing order verification details is returned.",
            "schema": {
              "$ref": "#/definitions/MutualFundPreviewResource"
            }
          },
          "400": {
            "description": "The provided JSON is invalid."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "An error on the OMS side occurred in attempt to verify the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/preview/orders/mutual-funds/liquidate": {
      "post": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Preview liquidation of a mutual fund",
        "description": "This endpoint enables you to verify the contents of an order for liquidating your shares of a mutual fund.",
        "operationId": "MutualFunds_PreviewLiquidationOfMutualFund",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is placed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "JSON data containing the mutual fund's information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LiquidateMutualFundResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing order verification details is returned.",
            "schema": {
              "$ref": "#/definitions/MutualFundPreviewResource"
            }
          },
          "400": {
            "description": "The provided JSON is invalid."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "An error on the OMS side occurred in attempt to verify the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{clearingNumber}/orders/mutual-funds/{orderId}": {
      "delete": {
        "tags": [
          "MutualFunds"
        ],
        "summary": "Cancel an order",
        "description": "This endpoint enables you to cancel an outstanding order for trading a mutual fund.",
        "operationId": "MutualFunds_CancelOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingNumber",
            "in": "path",
            "description": "ID of the trading account on whose behalf the order is cancelled.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order that must be cancelled.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the order was successfully cancelled."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "A conflict has occurred in attempt to cancel the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/news": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Get a list of news for a company",
        "description": "This endpoint enables you to retrieve a list of recent news for a specific company by providing its ticker symbol.",
        "operationId": "News_GetNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "The ticker symbol for which there news must be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a list of news for the specified company is returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NewsResource"
              }
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to fetch news for the company."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/news/corporate-actions": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Get all corporate actions",
        "description": "This endpoint enables you to retrieve a list of recent corporate actions pertaining a specific company.",
        "operationId": "News_GetCorporateActions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "The ticker symbol for which corporate actions must be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a list of corporate actions is returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CorporateActionResource"
              }
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to fetch corporate actions for the company."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order",
        "description": "This endpoint enables you to retrieve information about a particular order.",
        "operationId": "Orders_GetOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the trading account whose order’s information needs to be retrieved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order whose information needs to be retrieved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a JSON with the order’s detailed information is returned.",
            "schema": {
              "$ref": "#/definitions/OrderResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Replace an order",
        "description": "This endpoint enables you to modify an existing order.",
        "operationId": "Orders_ReplaceOrder",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "modifyParams",
            "in": "body",
            "description": "JSON data that contains updated information about the modified order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyOrderResource"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the trading account on which a new order is to be modified.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order that needs to be modified.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data with the updated order information is returned, indicating if the order was successfully modified.",
            "schema": {
              "$ref": "#/definitions/OrderResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "Failed to replace the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel an order",
        "description": "This endpoint enables you to cancel an existing order.",
        "operationId": "Orders_CancelOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the trading account whose order needs to be cancelled.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order that needs to be cancelled.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the order was successfully cancelled."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "409": {
            "description": "A conflict has occurred while attempting to cancel the order."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/orders/{orderId}/details": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order details",
        "description": "This endpoint enables you to retrieve details about order.",
        "operationId": "Orders_GetOrderDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique identifier of the trading account whose order’s information needs to be retrieved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order whose information needs to be retrieved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a JSON with the order’s detailed information is returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderDetailsModel"
              }
            }
          },
          "400": {
            "description": "User don't have permission."
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/verified/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get verified order",
        "description": "This endpoint enables you to validate an existing order.",
        "operationId": "Orders_GetVerifiedOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The ID of the trading account from which the order was initially placed.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order that is to be validated.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a JSON with the order’s validation information is returned.",
            "schema": {
              "$ref": "#/definitions/OrderVerifiedResource"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/preview/limits/{symbol}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Calculate buy and sell quantity limits for particular security and account",
        "operationId": "Orders_GetOrderLimits",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Security symbol",
            "required": true,
            "type": "string"
          },
          {
            "name": "price",
            "in": "query",
            "description": "price for security, if zero market price is used",
            "required": false,
            "type": "number",
            "format": "double",
            "default": 0
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of AutoShares Trader’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "Et-App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in AutoShares Trader.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data with the order limits is returned.",
            "schema": {
              "$ref": "#/definitions/OrderLimits"
            }
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "403": {
            "description": "The provided Et-App-Key is incorrect."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get filtered orders",
        "description": "This endpoint enables you to retrieve a selection of orders filtered by a specific query.",
        "operationId": "Orders_GetOrders",
        "consumes": [],
        "produces": [
[...]
